@model  List<Post>

@Html.Partial("_CreatePost")

<div class="row" id="post-container">
    @foreach (var item in Model)
    {
        @Html.Partial("_Post", item)
    }
</div>

@section scripts{
    <script src="~/Scripts/App/Index.js" type="text/javascript"></script>  
}
